<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Gallery</h1>
    <table id="list">
        <thead>
          <tr>
            <th>Link</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% photos.forEach(function(m) { %>
            <tr>
              <td><%= m.link %></td>
              <td><%= m.description %></td>
              <td><a href="/gallery/<%= m._id %>">DETAILS</a></td>
              <form action="/gallery/<%= m._id %>?_method=DELETE" method="POST">
                <button type="submit">DELETE PHOTO</button>
              </form>
              <form action="/gallery/<%= m._id %>?_method=PUT" method="POST">
                <!-- Value attribute is being set to the comment's current text -->
                <input name="text" value="<%= m.description %>">
                <button type="submit">UPDATE DESCRIPTION</button>
              </form>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <a href="/gallery/new">New Photo</a>
        <a href="/logout">LOG OUT</a>
</body>
</html>